{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}


    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}


    {{ include('FOSUserBundle:Security:login_content.html.twig') }}
{% endblock fos_user_content %}
