{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}



    <!-- Head Section -->
    <section class="small-section bg-dark-lighter">
        <div class="relative container align-left">

            <div class="row">

                <div class="col-md-8">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">My Account</h1>
                    <div class="hs-line-4 font-alt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                    </div>
                </div>

                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs font-alt align-right">
                        <a href="#">Home</a>&nbsp;/&nbsp;<a href="#">Pages</a>&nbsp;/&nbsp;<span>My Account</span>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End Head Section -->




    {{ include('FOSUserBundle:Security:login_content.html.twig') }}
{% endblock fos_user_content %}
