{% extends '_admin.base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Comment</h1>
                {{ include('@Admin/Comment/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock body %}